.kpi-chart{
    position: relative;
    margin: 5px;
    border-radius: 5px;

    .title-chart{
        font-size:15px;
        position: absolute;
        top:10px;
        left: 40px;
    }

    &-text{
        position: absolute;
        top: 35%;
        left: 33%;
        width: 110px;
        &-percent{
            font-size: 26px;
            text-align: center;
            margin: 5px;
        }

        &-name{
            font-size: 16px;
            text-align: center;
            margin: 5px;
        }
    }
}

