.main-content{
    position: relative;
}

.container-chart{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 200px;
    left: 200px;
    .content-chart-performance{
        display: flex;
        flex-direction: row;
    }
}

.container-personnalStat{
    display: flex;
    position: absolute;

}